/* ========= BANNER ======== */
.section__banner {
  padding-top: var(--header-height);
  height: 700px;
  background: linear-gradient(
      to right,
      var(--main-color),
      hsl(30deg 100% 1% / 20%)
    ),
    url(./images/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.banner__content {
  margin-top: 100px;
  max-width: 600px;
}

.banner__title {
  font-family: "Quicksand", sans-serif;
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 24px;
}

.banner__content > p {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 48px;
}

.banner__btn > i {
  font-size: 24px;
}

/* ========= ABOUT US ======== */
.about__content {
  grid-template-columns: 460px auto;
  column-gap: 48px;
}

.about__title {
  padding-right: 20px;
}

.about__description > p {
  margin-bottom: 16px;
}

/* ========= ABGENT ======== */
.agent {
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--main-color);
}

.agent__image {
  background: url(./images/banner3.jpg) no-repeat center/cover;
  min-height: 200px;
}

.agent__content {
  padding: 96px 72px;
}

.agent__content .agent__title--sub {
  color: #fff;
  font-weight: 400;
  line-height: 34px;
}

.agent__content p {
  color: #ffdfc9;
}

.agent__rate {
  margin-top: 48px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 48px;
}

.agent__rate .rate__icon:hover {
  color: var(--second-color);
}

.agent__rate .rate__link {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #232121;
}

/* ========= CATEGORY ======== */
.category {
  background-color: #f7f7f7;
}

.category__header {
  text-align: center;
}

.category__content {
  padding-top: 24px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.category__content a {
  display: inline-block;
  position: relative;
}

.category__content a > img {
  width: 100%;
  transition: var(--transition);
}

.category__content .category__item {
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}

.category__content .category__item .item__image a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
}

.category__content .category__item .item__image:hover img {
  opacity: 0.84;
}

.category__item .item__info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 48px;
}

.category__item .item__info > h4 {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}

.category__item .item__price {
  font-size: 18px;
  color: var(--second-color);
  font-weight: 600;
}

/* ========= SERVICES ======== */
.service__content {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service__content .service__item {
  padding: 40px;
  border: 1px solid #eee;
  border-radius: var(--border-radius);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service__item .item__icon {
  background-color: rgba(130, 115, 252, 0.05);
}

.service__item .item__header {
  display: flex;
  column-gap: 30px;
}

.service__item .item__header a {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  color: #232121;
  transition: var(--transition);
}

.service__item .item__header a:hover {
  color: var(--main-color);
}

.service__content .service__item:hover .item__icon {
  background-color: var(--main-color);
  color: #fff;
}

.middle__section {
  position: relative;
  background-image: url(./images/banner2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
}

.middle__section::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(16 15 19 / 66%);
  z-index: -10;
}

.middle__section .middle__content {
  padding: 96px 0 144px;
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.middle__content > h2 {
  font-family: var(--main-font-family);
  font-size: 45px;
  line-height: 55px;
  color: #fff;
  margin-bottom: 48px;
}

.middle__content .btn-left {
  margin-right: 24px;
}

/* ========= COUNT ======== */
.count__content {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.count__item {
  padding: 40px 20px;
  border-radius: var(--border-radius);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}

.count__item .item__icon {
  margin: 0 auto 16px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 50%;
}

.count__item .counter {
  font-size: 42px;
  line-height: 62px;
  font-weight: 700;
  color: #232121;
}

.count__item p {
  font-weight: 600;
  color: rgba(22, 28, 45, 0.7);
}

/* ========= VIDEO ======== */
.video {
  padding-bottom: 96px;
}

.video__content {
  position: relative;
  background-image: url(./images/banner3.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.video__content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(16 15 19 / 60%);
}

.video__content span {
  position: absolute;
  color: var(--main-color);
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  font-size: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: ripple 1s linear infinite;
  cursor: pointer;
}

.video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
}

.video-container.active {
  opacity: 1;
  visibility: visible;
}

.close {
  position: absolute;
  color: #fff;
  top: 50px;
  right: 50px;
  cursor: pointer;
  font-size: 56px;
  z-index: 1001;
}
/* ========= BLOG ======== */
.blog {
  background-color: #f7f7f7;
}

.blog__header {
  text-align: center;
  margin-bottom: 48px;
}

.blog__row {
  display: flex;
  gap: 30px;
}

.blog__row .blog__col a {
  display: inline-block;
}

.blog__row .blog__col img {
  width: 100%;
}

.blog__row .blog__col .blog__thumb {
  position: relative;
}

.blog__row .blog__col .blog__pos {
  display: flex;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.blog__row .blog__col .blog__pos > .reciepe {
  padding: 3px 20px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}

.blog__row .blog__col .blog__pos span {
  color: #fff;
}

.blog__row .blog__col .blog__pos span > i {
  margin-right: 5px;
}

.blog__row .blog__col .blog__article > h3 {
  font-family: var(--main-color);
  font-size: 24px;
  font-weight: 600;
  margin: 25px 0 15px;
  color: #232121;
}

.blog__footer {
  margin-top: 16px;
}

.blog__footer a {
  font-weight: 700;
  font-size: 16px;
  transition: var(--transition);
}

.blog__footer a:hover {
  color: var(--main-color);
}

.blog__footer,
.blog__meta-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__meta-info .blog__avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
}

/* ========= TESTIMONIAL ======== */
.testimonial__header {
  text-align: center;
  margin-bottom: 48px;
}

.testimonial__content {
  margin: 0 auto;
}

.testmonial .testimonial__item {
  text-align: center;
}

.testmonial .testimonial__item .item__content {
  max-width: 700px;
  margin: 0 auto;
}

.testmonial .comment-img {
  display: inline-block;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.testmonial .comment-img img {
  width: 100%;
}

.testmonial .testimonial__item .quote > p {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}

.testmonial .testimonial__item .quote > i {
  font-size: 42px;
  margin-bottom: 16px;
  color: var(--main-color);
}

.testimonial__info {
  margin-top: 24px;
  color: #232121;
}

.slick-dots {
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%);
  width: unset;
}

.slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #232121;
}

.slick-dots li.slick-active button:before {
  background-color: var(--main-color);
}

.slick-dots li button:hover:before {
  background-color: var(--main-color);
}
/* ======== ANIMATION ========== */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
  }
}

/* ======== RESPONSIVE ========== */

@media screen and (max-width: 968px) {
  .section__title {
    font-size: 32px;
  }

  .banner__title {
    font-size: 44px;
    line-height: 53px;
  }

  .blog__row {
    flex-wrap: wrap;
  }

  .blog__row .blog__col {
    width: calc(50% - 30px);
  }

  .about__content,
  .agent,
  .service__content {
    grid-template-columns: 1fr;
  }

   .agent {
     padding-top: 48px;
   }

  .agent__image {
    background-origin: content-box;
    padding: 15px;
  }

  .category__content,
  .count__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .section__banner {
    height: 500px;
  }

  .banner__content {
    margin-top: 0;
  }

  .header__menu,
  .header__search {
    display: none;
  }

  .header__menu-toggle {
    display: block;
  }

  .banner__title {
    font-size: 40px;
    line-height: 50px;
  }

  .banner__content > p {
    margin-bottom: 36px;
  }

  .blog__row .blog__col {
    width: 100%;
  }

  .about__content,
  .agent,
  .service__content {
    grid-template-columns: 1fr;
  }

  .agent__content {
    padding: 30px;
  }

  .category__content,
  .count__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .blog__row {
    flex-direction: column;
    row-gap: 40px;
  }

  .blog__row .blog__col .blog__article > h3 {
    font-size: 18px;
    color: #232121;
  }
}
@media screen and (max-width: 576px) {
  .agent__rate .rate__link {
    font-size: 17px;
  }

  .category__item .item__info {
    padding: 20px;
  }

  .category__item .item__info > h4,
  .category__item .item__price {
    font-size: 17px;
  }

  .middle__section .middle__content {
    width: 100%;
  }

  .middle__content > h2 {
    font-size: 35px;
  }
}
