/* ========== BANNER ========= */
.section__banner {
  padding-top: var(--header-height);
  min-height: 350px;
  background: linear-gradient(to right, var(--main-color), rgb(5 3 0 / 83%)),
    url(./images/banner2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.path-content {
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-top: 80px;
}

.path-content > a {
  color: var(--main-color);
}

/* ========== ABOUT ========== */
.about__content {
  grid-template-columns: 460px auto;
  column-gap: 48px;
}

.about__title {
  padding-right: 20px;
}

.about__description > p {
  margin-bottom: 16px;
}

/* =========== SERVICES ========== */
.service__content {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service__content .service__item {
  padding: 40px;
  border: 1px solid #eee;
  border-radius: var(--border-radius);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service__item .item__icon {
  background-color: rgba(130, 115, 252, 0.05);
}

.service__item .item__header {
  display: flex;
  column-gap: 30px;
}

.service__item .item__header a {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  color: #232121;
  transition: var(--transition);
}

.service__item .item__header a:hover {
  color: var(--main-color);
}

.service__content .service__item:hover .item__icon {
  background-color: var(--main-color);
  color: #fff;
}

.middle__section {
  position: relative;
  background-image: url(./images/banner2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
}

.middle__section::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(16 15 19 / 66%);
  z-index: -10;
}

.middle__section .middle__content {
  padding: 96px 0 144px;
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.middle__content > h2 {
  font-family: var(--main-font-family);
  font-size: 45px;
  line-height: 55px;
  color: #fff;
  margin-bottom: 48px;
}

.middle__content .btn-left {
  margin-right: 24px;
}

/* ========== MENU ========== */
.menu__title {
  text-align: center;
}

.menu__content {
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.menu__item {
  margin-bottom: 24px;
}

.menu__content .item__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px dotted #bbb;
}

.menu__content .item__heading h6 {
  font-family: var(--main-font-family);
  font-size: 20px;
  font-weight: 600;
}

.menu__content .item__price {
  color: var(--main-color);
}

.menu__content .item__description {
  margin-top: 10px;
  font-size: 20px;
  color: rgba(22, 28, 45, 0.7);
}

/* ========== RESPONSIVE ========== */
@media (max-width: 992px) {
  .about__content {
    grid-template-columns: 1fr;
  }

  .service__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu__content {
    grid-template-columns: 1fr;
    row-gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .section__banner {
    min-height: 200px;
  }

  .path-content {
    padding: 0;
  }

  .service__content {
    grid-template-columns: 1fr;
  }

  .middle__section .middle__content {
    width: unset;
    padding-bottom: 96px;
  }

  .middle__content > h2 {
    font-size: 35px;
    margin-bottom: 24px;
  }
}