/* ========== VARIABLES ========== */
:root {
  --main-color: #ff6600;
  --second-color: #ffc600;
  --font-color: rgb(22 28 45 / 70%);
  --heading-color: #232121;
  --border-radius: 10px;
  --transition: 0.3s;
}

/* ========== BASE ========== */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
}

body,
html {
  background-color: #fff;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
  color: var(--heading-color);
}

input,
button {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  outline: none;
}

p {
  color: #232121;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  align-items: center;
}

/* ========== REUSABLE ========== */
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  width: 100%;
  padding: 96px 0;
}

.btn-primay {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  background-color: var(--main-color);
  padding: 12px 45px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}

.btn-primay:hover {
  opacity: 0.8;
}

/* ========= HEADER ========== */
.header__section {
  background-color: var(--main-color); 
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  /* Đổi background thành transparent */
}

.header__content,
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  padding: 40px 0 20px;
}

.header .logo > a {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.header__right .header__menu {
  margin-right: 16px;
}

.header__right .header__menu > a {
  font-size: 18px;
  padding: 0 12px;
  color: #fff;
  font-weight: 600;
}

.header .header__search {
  position: relative;
  height: 100%;
}

.header .header__search > input {
  height: 100%;
  padding: 10px 35px 10px 10px;
  border: 2px solid #9f9f9f;
  border-radius: 30px;
}

.header .header__search .search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.header__menu-toggle {
  font-size: 36px;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* ========= FOOTER ========== */
.footer__section {
  background-color: #000;
}

.footer__content {
  padding: 72px 0;
}

.footer__content .footer__row {
  display: grid;
  grid-template-columns: 400px 170px 170px 400px;
  column-gap: 48px;
}

.footer__content h2 {
  font-family: inherit;
  color: #fff;
  margin-bottom: 20px;
}

.footer__content p {
  color: #a5a2a1;
  font-size: 17px;
  margin-bottom: 24px;
}

.footer__content .footer__social > a {
  display: inline-block;
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: var(--main-color);
  border-radius: var(--border-radius);
  margin-right: 10px;
  transition: var(--transition);
}

.footer__content .footer__social > a:hover {
  background-color: var(--main-color);
  color: #fff;
}

.footer__content .footer__menu {
  font-size: 17px;
  list-style: none;
  color: #a5a2a1;
}

.footer__content .footer__menu > li {
  margin-bottom: 16px;
}

.footer__content .footer__menu > li:hover a {
  color: var(--main-color);
}

.footer__subscibe > input {
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: var(--border-radius);
  margin-bottom: 16px;
}

.footer__subscibe .btn-subscibe {
  width: 100%;
}

.footer .copyright {
  padding: 20px 0;
  border-top: 1px solid #363636;
}

.footer .copyright__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .copyright__content p,
.footer .copyright__content a {
  color: #a5a2a1;
}

.footer .copyright__content p > a {
  color: var(--main-color);
}

.footer .copyright-right > a {
  margin-left: 48px;
  transition: var(--transition);
}

.footer .copyright-right > a:hover {
  color: var(--main-color);
}
